---
title: React.js Starter Kit
component: ContentPage
---
div
  div
    h3 Ingest Progress
    dl
      dt <a href="#">Pending Collections List</a>
      dd A list of currently pending Collections
      dt <a href="#">Collection Waiting for Corrections</a>
      dd List of Collections currently not using minimal schema requirements
  div
    h3 Process
    dl
      dt <a href="#">Check if matching MODS & Image Files Exist</a>
      dd
